@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Karla, sans-serif;
    font-weight: 300px;
}


#logo {
    float: left;
    font-size: 250%;
    margin-left: 40px;
    line-height: 80px;
    color: white;
}

h1 {
    font-family: Rubik, sans-serif;
    letter-spacing: 2px;
    line-height: 80px;
   
}

#menu {
    font-size: 200%;
    letter-spacing: 2px;
    color: white;
}

#menu, #logo {
    line-height: 80px;
}

#menu, li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    color: white;
}

#menu, a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    border-bottom: 1px solid;
}

#hero-image {
    height:1000px;
    width: 100%;
    background-image: url(../css/images/pexels-bence-szemerey-6782327.jpg) ;
    background-repeat: no;
    background-size: 100%;
}