@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Karla, sans-serif;
    font-weight: 300px;
}


#logo {
    float: left;
    font-size: 250%;
    margin-left: 40px;
    line-height: 80px;
    color: black'
}

h1 {
    font-family: Rubik, sans-serif;
    letter-spacing: 2px;
    line-height: 80px;
   
}

#menu {
    font-size: 200%;
    letter-spacing: 2px;
}

nav {
    background-color: #fff;
}

#menu, #logo {
    line-height: 80px;
}

#menu, li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    color: white;
}

#menu, a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid;
}

#hero-image {
    text-align: center;
    height:1000px;
    width: 100%;
    background-image: url(../css/images/pexels-bence-szemerey-6782327.jpg) ;
    background-repeat: no;
    background-size: 100%;
    

}

#cover-text, #cover-text h2 {
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 700%;
    letter-spacing: 2px;
    margin-top: 10%;
    width: 1200px;
    height: 800px;
    color: white;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(black, black, black, .7);
    position: absolute;
}

#about-us {
    height: 500px;
    text-align: center;
    margin-top: 50px;
    font-size: 200%;
    margin-left: 10%;
    margin-right: 10%;
   
}

#about-us, h2 {
    font-family: Rubik, sans-serif;
    font-size: 300%;
    margin: 1%;
    padding: 5%;
}



#sign-up {
    height: 600px;
    font-size: 200%;
    background-color: black;
   
    text-align: center;

}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border: 1px solid #999;
     outline: none;
}




#sign-up, h1 {
    

}

.sign-up-form {
    width: 500px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}


 
#paragraph {
    padding-top: 10%;
}

button {
    color: black;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 100%;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor:  pointer;
}

footer {
height: 250px;
}

.social-networks {
    display: list-item;
    font-size: 200%;
    text-align: center;
    margin: 1%;
    padding: 5%;
}
